:root {
  --fuentePrincipal: "Poppins", sans-serif;
  --primario: #ea3546;
  --amarillo: #f9c80e;
  --azulClaro: #43bccd;
  --naranja: #f86624;
  --blanco: #ffffff;
}

body {
  font-family: var(--fuentePrincipal);
  background-color: var(--azulClaro);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: var(--primario);
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

.header__navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  height: 1.3rem;
  margin-right: 0.3rem;
}

.header__titulo {
  font-size: 14px;
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 720px) {
  .container {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    justify-content: center;
  }
}

.pokemon__header {
  height: 2rem;
  display: flex;
  width: 70%;
  max-width: 20rem;
  margin: auto;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px 0.3px rgb(0 0 0 / 15%);
}

@media (min-width: 720px) {
  .pokemon__header {
    width: 100%;
  }
}

.pokemon__logo {
  height: 1.5rem;
}

.pokemon__titulo {
  font-size: 15px;
}

.contenido {
  width: 70%;
  max-width: 20rem;
  margin: auto;
}

@media (min-width: 720px) {
  .contenido {
    width: 100%;
  }
}

.contenido__imagen {
  position: relative;
  top: 1.2rem;
  max-width: 100%;
}

.card {
  width: 70%;
  max-width: 20rem;
  margin: auto;
}

@media (min-width: 720px) {
  .card {
    width: 100%;
    margin: 0;
    margin-left: 2rem;
  }
}

.card__contenido {
  background-color: var(--blanco);
  border-radius: 0.5rem;
  padding-top: 1rem;
  box-shadow: 0px 0px 15px 0.3px rgb(0 0 0 / 15%);
  padding-bottom: 1rem;
  height: 100%;
}

@media (min-width: 720px) {
  .card__contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
}

.card_propiedad {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 70%;
  margin: auto;
}

@media (min-width: 720px) {
  .card_propiedad {
    display: block;
    width: auto;
    margin: 0;
    height: 0;
  }
}

.card_titulo {
  width: 6rem;
  font-size: 13px;
}

@media (min-width: 720px) {
  .card_titulo {
    width: 6rem;
    font-size: 12px;
    font-weight: 100;
    margin: 0.5rem 0;
  }
}

.card_texto {
  font-size: 12px;
}

@media (min-width: 720px) {
  .card_texto {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
}

.footer {
  background-color: var(--blanco);
  width: 100%;
  padding: 0.5rem 0;
  margin-top: auto;
}

.container-footer {
  height: 10rem;
}

@media (min-width: 720px) {
  .container-footer {
    display: flex;
    width: 80%;
    margin: auto;
    height: 7rem;
    align-items: center;
    justify-content: center;
  }
}

.footer__titulo {
  text-align: center;
  font-size: 13px;
}

.footer__navegacion {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 0;
  justify-items: center;
}

@media (min-width: 720px) {
  .footer__titulo {
    font-size: 16px;
    min-width: 10rem;
    margin-left: 2rem;
  }

  .footer__navegacion {
    display: flex;
    width: 100%;
    margin: 0;
    gap: 2rem;
    justify-content: flex-end;
    max-width: 30rem;
  }
}

.footer__contenedor-imagen {
  background-color: var(--azulClaro);
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px 0.3px rgb(0 0 0 / 15%);
}

@media (min-width: 720px) {
  .footer__contenedor-imagen {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.footer__contenedor-imagen:hover {
  background-color: var(--primario);
  cursor: pointer;
}

.footer_imagen {
  max-width: 90%;
}
