:root {
  --fuentePrincipal: "Poppins", sans-serif;
  --primario: #ea3546;
  --amarillo: #f9c80e;
  --azulClaro: #43bccd;
  --naranja: #f86624;
  --blanco: #ffffff;
}

body {
  font-family: var(--fuentePrincipal);
  background-color: var(--azulClaro);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: var(--primario);
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

.header__navegacion {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 1.3rem;
  margin-right: 0.3rem;
}

.header__titulo {
  font-size: 15px;
  color: var(--blanco);
}

@media (min-width: 720px) {
  .header {
    height: 3rem;
    justify-content: flex-start;
  }

  .header__navegacion {
    margin-left: 4rem;
  }

  .header__logo {
    height: 1.2rem;
  }

  .header__titulo {
    font-size: 16px;
  }
}
/* Aquí empiezan los estilos del main */

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 720px) {
  .container {
    padding: 0;
    display: flex;
    margin: auto;
    justify-content: center;
  }
}

.pokemon__header {
  height: 2rem;
  display: flex;
  width: 70%;
  max-width: 20rem;
  margin: auto;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px 0.3px rgb(0 0 0 / 15%);
}

@media (min-width: 720px) {
  .pokemon__header {
    width: 100%;
    height: 2.5rem;
  }
}

.pokemon__logo {
  height: 1.5rem;
}

.pokemon__titulo {
  font-size: 17px;
  font-weight: 700;
}

.contenido {
  width: 70%;
  max-width: 20rem;
  margin: auto;
  position: relative;
  margin-top: -1.5rem;
  top: 2.5rem;
}

@media (min-width: 720px) {
  .contenido {
    width: 100%;
  }

  .pokemon__logo {
    height: 2rem;
  }

  .pokemon__titulo {
    font-size: 18px;
  }
}

.contenido__imagen {
  max-width: 100%;
}

/* Aquí empiezan los estilos de la card de datos */

.card {
  width: 70%;
  max-width: 20rem;
  margin: auto;
}

@media (min-width: 720px) {
  .card {
    margin-left: 2rem;
    width: auto;
  }
}

.card__contenido {
  background-color: var(--blanco);
  border-radius: 0.5rem;
  padding-top: 2rem;
  box-shadow: 0px 0px 15px 0.3px rgb(0 0 0 / 15%);
  padding-bottom: 1rem;
  height: 100%;
}

@media (min-width: 720px) {
  .card__contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 17rem;
  }
}

.card__propiedad {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 70%;
  margin: auto;
}

@media (min-width: 720px) {
  .card__propiedad {
    display: block;
    width: 40%;
    text-align: center;
    margin: 0;
  }
}

.card__titulo {
  width: 6rem;
  font-size: 13px;
}

.card__texto {
  font-size: 12px;
}

@media (min-width: 720px) {
  .card__titulo {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 100;
    width: 100%;
  }

  .card__texto {
    font-size: 18px;
    margin-top: 0;
    font-weight: 600;
  }
}

/* Aquí empiezan los estilos del footer */

.footer {
  background-color: var(--blanco);
  width: 100%;
  padding: 0.5rem 0;
}

.footer__container {
  height: 10rem;
}

@media (min-width: 720px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  .footer__container {
    display: flex;
    max-width: 40rem;
    height: 7rem;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__titulo {
  text-align: center;
  font-size: 13px;
}

.footer__navegacion {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 0;
  justify-items: center;
}

@media (min-width: 720px) {
  .footer__titulo {
    text-align: start;
    font-size: 16px;
    min-width: 8rem;
  }

  .footer__navegacion {
    display: flex;
    width: 100%;
    margin: 0;
    gap: 2rem;
    justify-content: flex-end;
    margin-left: 1rem;
    min-width: 30rem;
  }
}

.contenedor__imagen {
  background-color: var(--azulClaro);
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px 0.3px rgb(0 0 0 / 15%);
  transition-property: transform;
  transition-duration: 300ms;
  margin: 0;
}

@media (min-width: 720px) {
  .contenedor__imagen {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.footer__contenedor-imagen:hover {
  background-color: var(--primario);
  cursor: pointer;
  transform: scale(1.1);
}

.footer__imagen {
  min-width: 90%;
}
